{%extends 'base.html'%}


{% block body%}
<div class="container">
    <div style="text-align: center;">
        <p>Autor: <strong>{{foto.usuario.vUsername}}</strong></p>
        <p>Upload:{{foto.data_criacao.strftime('%d/%m/%Y')}}</p>
        <a href="{{url_for('perfil', usuario=foto.usuario.username)}}" style="color: black; font-size: large;"><strong>Ver perfil do Autor</a>
    </div>
    <img src="{{ foto.imagem }}" style="width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;"/>
    
</div>

    
{% endblock%}